.hero {
    padding: 200px 0;
}

.hero_layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
}

.hero_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero p {
    margin: 0;
}

.hero h1 {
    margin: 0;
    text-transform: uppercase;
}

.hero h3 {
    margin: 0 0 32px;
    font-weight: 400;
}

.hero a.button {
    font-size: 20px;
}

.hero_right img {
    display: block;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

@media only screen and (min-width: 1000px) {
    .hero {
        min-height: 100vh;
    }

    .hero_layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero_left {
        margin-top: 32px;
    }

    .hero_right img {
        max-height: unset;
        aspect-ratio: 1;
    }
}
