:root {
    --color-bg: #fff7fb;
    --color-text: #1d1c1c;
    --color-primary: #9e727c;
    --color-gray: #76585a;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: inherit;
    text-transform: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.serif-display {
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
